.storageGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  max-height: 80px;
  width: 100%;
  object-fit: contain;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white;
}

.title {
  display: flex;
  align-self: center;
  color: black;
  font-size: 1.5em;
}

.scan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .scan {
    flex-direction: column;
  }

  .scanInput,
  .categoryInput,
  .scanButton
   {
    margin-bottom: 10px;
  }
}

.scanInput {
  height: 30px;
  border-radius: 5px;
  width: 200px;
  font-size: 1em;
  margin-left: 5px;
}

.categoryInput {
  height: 30px;
  border-radius: 5px;
  width: 50px;
  font-size: 1em;
}

.scanButton {
  border-radius: 5px;
  color: white;
  background-color: black;
  height: 36px;
  width: 100px;
  margin-left: 5px;
  border: none;
  font-size: 1em;
}

.addToGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.addCheckBox {
  margin-top: 15px;
  transform: scale(1.5);
}

.addCheckBoxLabel {
  margin-top: 10px;
  margin-right: 5px;
}

.showGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gridCategoryName {
  font-size: 1.2em;
  margin: 0;
  margin-right: 5px;
}

.gridSerial {
  margin: 0;
  font-size: 0.8em;
}

.foundText {
  font-size: 2em;
  margin-top: 0;
}

.foundTextBig {
  font-size: 5em;
  margin-top: 0;
}
